


body {
    background-image: url("https://assets.codepen.io/5525772/floralbkg.png");
    background-size: 150px;
    display: grid;
    place-content: center;
    min-height: 100vh;
}
.message {
    width: 50vw;
    aspect-ratio: 1 / 1;
    border: 3px solid red;
}