@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body {
    background-image: url("https://assets.codepen.io/5525772/floralbkg.png");
    background-size: 150px;
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: 'Lobster', cursive;
}
.message {
    width: 50vw;
    aspect-ratio: 1 / 1;
    border: 3px ridge pink;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
}
h2 {
    text-align:center;
    font-size: 2rem;
  }