* {
    box-sizing: border-box;
}
:root {
    --anglebkg: -45deg;
    --lightclr: hsl(0, 0%, 100%);
    --darkclr: hsl(0, 1%, 50%);
}
body {
    margin: 0;
    min-height: 100vh;
    background: repeating-linear-gradient(
        var(--anglebkg),
        var(--lightclr) 0 20px,
        var(--darkclr) 0 40px
    );
}
.container {
    height: 31.25em;
    width: 31.25em;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: fly 4s infinite;
}

@keyframes fly {
    50% {
        transform: translateY(-5.5rem);
    }
}

.wings {
    position: absolute;
    height: 5em;
    width: 5em;
    background-color: #f0eedf;
    border-radius: 5em 5em 0 5em;
    top: 7.5em;
    left: 11.25em;
    /* border: 1px solid black; */
    
}
.wings:before {
    position: absolute;
    content: "";
    height: 5em;
    width: 5em;
    background-color: #f0eedf;
    border-radius: 5em 5em 5em 0;
    left: 4.68em;
   
}

.wings:after {
    height: 4em;
    width: 4em;
    position: absolute;
    content: "";
    box-shadow: -0.62em -0.62em #e6dea3;
    border-radius: 50%;
    top: 1.12em;
    left: 1.12em;
}
.bee {
    height: 7.5em;
    width: 12.5em;
    background: linear-gradient(
        to right,
        #f4c13d 30%,
        #0d323e 30%,
        #0d323e 45%,
        #f4c13d 45%,
        #f4c13d 55%,
        #0d323e 55%,
        #0d323e 70%,
        #f4c13d 70%,
        #f4c13d 80%,
        #0d323e 80%
    );
    border-radius: 5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: inset 0 -1.56em rgba(0, 0, 0, 0.15);
}

.bee:before {
    position: absolute;
    content: "";
    height: 0.87em;
    width: 0.87em;
    background-color: #0d323e;
    border-radius: 50%;
    top: 3.43em;
    left: 1.25em;
}

.bee:after {
    position: absolute;
    content: "";
    height: 0.31em;
    width: 1.87em;
    background-color: #0d323e;
    border-radius: 0.31em;
    top: 3.43em;
    left: 11.87em;
}
