* {
    box-sizing: border-box;
}

body {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ol {
    font-size: 1.2rem;
  }
  
  .container {
    column-count: 3;
  }
  
  label {
    display: block;
  }
  
  input {
    margin: 0.4rem;
  }