* {
    box-sizing: border-box;
}
:root {
    --width: 300px;
    --height: 220px;
}
body {
    background-color: ghostwhite;
    display: grid;
    grid-template-columns: 1fr 3fr;
    place-content: center;
    font-family: sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.box {
    width: var(--width);
    height: var(--height);
    aspect-ratio: 1/ 1;
    border-radius: 1rem;
    border: 2px solid black;
    box-shadow: 4px 4px 9px hsla(0, 0%, 0%, 0.6),
            inset 4px 4px 8px hsla(0, 0%, 100%, 0.524);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
#winner,
#guessrgb,
#randomrgb {
    background: white;
    color: black;
    padding: .5rem;
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 4px 4px 8px hsla(0, 0%, 100%, 0.524);
}
#winner,
#randomrgb {
    opacity: 0;
}
.box:hover #randomrgb {
    opacity: 1;
}

#randomclr {
    --red: 128;
    --green: 128;
    --blue: 128;
    background-color: rgb(var(--red), var(--green), var(--blue));
}
#guessclr {
    --red: 128;
    --green: 128;
    --blue: 128;
    background-color: rgb(var(--red), var(--green), var(--blue));
}
#ranges {
    margin-top: 1rem;
    width: var(--width);
  
}
.ranger {
    width: var(--width);
}
#red {
    accent-color: red;
}
#green {
    accent-color: green;
}
#blue {
    accent-color: blue;
}

.buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
button {
    padding-inline: 1rem;
}
